<!doctype html>
<html>

	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
		<link rel="stylesheet" href="/css/style.css">

		<!-- Scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>
	<script>
		navigator.geolocation.getCurrentPosition(function(pos) {
			document.getElementById("location").value = pos.coords.latitude + "," + pos.coords.longitude;
			Materialize.updateTextFields();
		});
	</script>

	<body>
		<% if(message.length > 0) { %>
			<div>
				<p><%= message %></p>
			</div>
		<% } %>
		<div class="row">
			<form class="col s12" action="/meeting" method="post">
				<div class="row">
					<div class="input-field col s6">
						<input id="otheruser" type="text" class="validate" name="otheremail">
						<label for="otheruser">Other user</label>
					</div>
					<div class="input-field col s6">
						<input id="location" type="text" class="validate" name="coords">
						<label class="active" for="location">Location</label>
					</div>
				</div>
				<button type="submit" class="btn btn-warning btn-lg">Go!</button>
			</form>
		</div>

	</body>

</html>
