<!doctype html>
<html>

	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
		<link rel="stylesheet" href="/css/style.css">

		<!-- Scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>

	<script></script>

	<body>
		<div class="center-parent">
			<% for(var i = 0; i<places.length; i++) { %>
				<div class="card center-child">
					<div class="card-image waves-effect waves-block waves-light">
						<% if (places[i].imgUrl) { %>
							<img class="activator" src="<%= places[i].imgUrl %>">
						<% } else { %>
							<img class="activator" src="/assets/images/menu-placeholder.gif">
						<% } %>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4"><%= places[i].name %><i class="material-icons right">more_vert</i>
						</span>
						<p>
							<a href="#">More</a>
						</p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i>
						</span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div> <br>
			<% } %>
		</div>
	</body>

</html>
