.center-parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.center-child {
    margin: auto;
    width: 50%;
}
p.normal {
    display: inline;
    font-weight: normal;
}
p.term {
    display: inline;
    font-weight: bold;
}
p.definition {
    display: inline;
    font-weight: lighter;
}
