<!doctype html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<% include ../partials/slideshow-head %>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script>
			var socket = io.connect('/home-namespace');
			socket.on('_update_sugg_meetings', function(data) {
				for (var i = 0; i < data.sendMeetings.length; i++) {

					//Getting the template =====================================================

					var temp = document.getElementById('meeting-card-temp');
					console.log(temp)

					//Edit the card's image ====================================================

					temp.content.querySelector('#image').src = data.sendMeetings[i].place.imgUrl;

					//Editing title and card content ===========================================

					//Assuming only one child, because that should only be the <i> child of these <span> elements
					var titleChild = temp.content.querySelector('#reveal-card-button');
					var infoChild = temp.content.querySelector('#close-card-button');

					if(temp.content.querySelector('#card-title').innerText) { //checks the span for inner text, which is most modern browsers
						temp.content.querySelector('#card-title').innerText = data.sendMeetings[i].place.name;
						temp.content.querySelector('#card-title').appendChild(titleChild);

						temp.content.querySelector('#card-title_2').innerText = data.sendMeetings[i].place.name;
						temp.content.querySelector('#card-title_2').appendChild(infoChild);

						temp.content.querySelector('#meeting').innerText = data.sendMeetings[i].place.name;


					}
					else if(temp.content.querySelector('#card-title').textContent) { //otherwise, do this for firefox
						temp.content.querySelector('#card-title').textContent = data.sendMeetings[i].place.name;
						temp.content.querySelector('#meeting').textContent = data.sendMeetings[i].place.name;
					}

					//Append the card to the panel =============================================

					document.getElementById('sugg_meetings_row').appendChild(temp.content.cloneNode(true));
				}
			});
			socket.on('_update_acc_meetings', function(data) {
				document.getElementById('acc_meetings').innerHTML = data.sendMeetings;
			});
		</script>
	</head>

	<template id="meeting-card-temp">
		<div class="col s12 m6 l4" id="top-div">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="images/office.jpg" id="image">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" id="card-title">Card Title<i class="material-icons right" id="reveal-card-button">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4" id="card-title_2">Card Title<i class="material-icons right" id="close-card-button">close</i></span>
					<p id="meeting" style="color:black">Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
				<div class="card-action">
					<div class="inline">
						<form action="/home" method="post" id="editform_2">
							<input name="edit" value="1" id="editform_2_input" hidden>
							<!-- value we are submitting with the form -->
							<a href="#" onClick="<%- " document.getElementById('editform_2').submit();" %>" type="submit">Edit</a>
						</form>
						<form action="/home" method="post" id="acceptform_2">
							<input name="accept" value="1" id="acceptform_2_input" hidden>
							<!-- value we are submitting with the form -->
							<a href="#" onClick="<%- " document.getElementById('acceptform_2').submit();" %>" type="submit">Accept</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</template>

	<body>
		<header>
			<% include ../partials/header-nav-bar %>
		</header>

		<main>
			<div class="row">
				<!-- User-Suggested Meetings Card -->
				<div class="col s12 m12 l12">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">Proposed Meetings</span>
							<div class="row" id="sugg_meetings_row"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- User-Suggested Meetings Card -->
				<div class="col s12 m12">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">Upcoming Meetings</span>
							<p id="acc_meetings">oops! got nothin'...</p>
						</div>
						<div class="card-action">
							<div class="inline">
								<form action="/home" method="post" id="editform_2">
									<input name="edit" value="1" id="editform_2_input" hidden>
									<!-- value we are submitting with the form -->
									<a href="#" onClick="<%- " document.getElementById('editform_2').submit();" %>" type="submit">Edit</a>
								</form>
								<form action="/home" method="post" id="acceptform_2">
									<input name="accept" value="1" id="acceptform_2_input" hidden>
									<!-- value we are submitting with the form -->
									<a href="#" onClick="<%- " document.getElementById('acceptform_2').submit();" %>" type="submit">Accept</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="grid-container">
				<div class="grid-column">

					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Card Title</span>
									<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-column">
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Upcoming Meetings</span>
										<p id="acc_meetings">oops! got nothin'...</p>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Card Title</span>
									<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</main>
	</body>
	<!-- <script src="/js/slideshow.js"></script> -->
	<!-- call this after the body, because it waits until all the html/DOM is loaded! And there are html element specific functions in this file -->
</html>
