<!doctype html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<% include ../partials/slideshow-head %>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script>
			var socket = io.connect('/home-namespace');

			window.editMeeting = function(meetingObj) {
				socket.emit('_edit', {m: meetingObj});
			}

			window.acceptMeeting = function(meetingObj) {
				socket.emit('_accept', {m: meetingObj});
			}

			function addMeetingCards(data, panelRow, haveButtons) {
				for (var i = 0; i < data.sendMeetings.length; i++) {

					//Getting the template =====================================================

					var temp = document.getElementById('meeting-card-temp');

					//Edit the card's image ====================================================

					temp.content.querySelector('#image').src = data.sendMeetings[i].place.imgUrl;

					//Editing title and card content ===========================================

					//Assuming only one child, because that should only be the <i> child of these <span> elements
					var titleChild = temp.content.querySelector('#reveal-card-button');
					var infoChild = temp.content.querySelector('#close-card-button');

					if(temp.content.querySelector('#card-title').innerText) { //checks the span for inner text, which is most modern browsers
						temp.content.querySelector('#card-title').innerText = data.sendMeetings[i].place.name;
						temp.content.querySelector('#card-title').appendChild(titleChild);

						temp.content.querySelector('#card-title_2').innerText = data.sendMeetings[i].place.name;
						temp.content.querySelector('#card-title_2').appendChild(infoChild);

						//Set info about the restaurant/meeting
						temp.content.querySelector('#address').innerText = data.sendMeetings[i].place.address;
						temp.content.querySelector('#rating').innerText = data.sendMeetings[i].place.rating;

						//Format the time correctly
						var time = parseInt(data.sendMeetings[i].time);
						if (time > 11) {
							if (time == 12) {
								time = time + " pm";
							}
							else {
								time = (time - 12) + " pm";
							}
						} else {
							time = time + " am";
						}
						temp.content.querySelector('#date-and-time').innerText = data.sendMeetings[i].date + ' @ ' + time;

					}
					else if(temp.content.querySelector('#card-title').textContent) { //otherwise, do this for firefox
						temp.content.querySelector('#card-title').textContent = data.sendMeetings[i].place.name;
						temp.content.querySelector('#card-title').appendChild(titleChild);

						temp.content.querySelector('#card-title_2').textContent = data.sendMeetings[i].place.name;
						temp.content.querySelector('#card-title_2').appendChild(infoChild);

						//Set info about the restaurant/meeting
						temp.content.querySelector('#address').textContent = data.sendMeetings[i].place.address;
						temp.content.querySelector('#rating').textContent = data.sendMeetings[i].place.rating;

						//Format the time correctly
						var time = parseInt(data.sendMeetings[i].time);
						if (time > 11) {
							if (time == 12) {
								time = time + " pm";
							}
							else {
								time = (time - 12) + " pm";
							}
						} else {
							time = time + " am";
						}

						temp.content.querySelector('#date-and-time').textContent = data.sendMeetings[i].date + ' @ ' + time;
					}

					//Setup accept/edit buttons and card action
					if(haveButtons) {
						var cardAction = document.getElementById('card-action-temp');

						var stringyObj = JSON.stringify(data.sendMeetings[i]);
						cardAction.content.querySelector('#editform_input').value = stringyObj;
						cardAction.content.querySelector('#acceptform_input').value = stringyObj;

						temp.content.querySelector('#card-body').appendChild(cardAction.content.cloneNode(true));
					}

					//Append the card to the panel =============================================

					document.getElementById(panelRow).appendChild(temp.content.cloneNode(true));
				}
			}

			socket.on('_update_sugg_meetings', function(data) {
				addMeetingCards(data, 'sugg_meetings_row', true);
			});
			socket.on('_update_conf_meetings', function(data) {
				addMeetingCards(data, 'conf_meetings_row', false);
			});


		</script>

		<template id="meeting-card-temp">
			<div class="col s12 m6 l4" id="top-div">
				<div class="card" id="card-body">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/office.jpg" id="image">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4" id="card-title">Card Title<i class="material-icons right" id="reveal-card-button">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4" id="card-title_2">Card Title<i class="material-icons right" id="close-card-button">close</i></span>
						<p class="term" style="color: black">Address </p><p id="address" class="definition" style="color: black">Here is some more information about this product that is only revealed once clicked on.</p> <br>
						<p class="term" style="color: black">Rating </p><p id="rating" class="definition" style="color: black">Here is some more information about this product that is only revealed once clicked on.</p> <br>
						<p class="term" style="color: black">Date and Time </p><p id="date-and-time" class="definition" style="color: black">Here is some more information about this product that is only revealed once clicked on.</p> <br>
					</div>
				</div>
			</div>
		</template>

		<template id="card-action-temp">
			<div class="card-action">
				<div class="inline">
					<form action="/home" method="post" id="editform">
						<input name="edit" value="1" id="editform_input" hidden>
						<!-- value we are submitting with the form -->
						<a href="#" onClick="<%- " this.parentElement.submit();" %>" type="submit">Edit</a>
					</form>
					<form action="/home" method="post" id="acceptform">
						<input name="accept" value="1" id="acceptform_input" hidden>
						<!-- value we are submitting with the form -->
						<a href="#" onClick="<%- " this.parentElement.submit();" %>" type="submit">Accept</a>
					</form>
				</div>
			</div>
		</template>

	</head>

	<body>
		<header>
			<% include ../partials/header-nav-bar %>
		</header>

		<main>
			<div class="row">
				<!-- Proposed Meetings Card -->
				<div class="col s12 m12 l12">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">Proposed Meetings</span>
							<div class="row" id="sugg_meetings_row"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Confirmed/Upcoming Meetings Card -->
				<div class="col s12 m12 l12">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">Upcoming Meetings</span>
							<div class="row" id="conf_meetings_row"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
	<!-- <script src="/js/slideshow.js"></script> -->
	<!-- call this after the body, because it waits until all the html/DOM is loaded! And there are html element specific functions in this file -->
</html>
