<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
		<% include ../partials/home-nav-bar %>

		<script>
			$(document).ready(function() {
				$('.parallax').parallax();
			});
		</script>
	</head>
	<body>
		<div class="parallax-container">
			<div class="parallax"><img src="images/meeting.jpg"></div>
		</div>
		<div class="section white">
			<div class="row container">
				<h2 class="header">Meeting Magic</h2>
				<p class="grey-text text-darken-3 lighten-3">Use "big data", from traffic patterns to weather, to create the perfect outing.</p>
			</div>
		</div>
		<div class="parallax-container">
			<div class="parallax"><img src="images/city-map.jpg"></div>
		</div>
	</body>
</html>
