<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Script -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io('/meeting-nsp');
  socket.on('change_html', function(data) {
    console.log("Recieved call to change_html")
    window.location = "http://127.0.0.1:3000/results.html"
  });

  window.lat = 0.0
  window.lon = 0.0

  navigator.geolocation.getCurrentPosition(function(position) {
    window.lat = position.coords.latitude;
    window.lon = position.coords.longitude;
    coordsForm = document.getElementById('coords')
    coordsForm.value = lat.toString() + "," + lon.toString();
  });

  window.sendMeetingInfo = function() {
      var meetingInfo = (
        "otherUser=" + document.getElementById('otherUser').value +
        "&" +
        "coords=" + document.getElementById('coords').value
      );
      console.log(meetingInfo)
      socket.emit('_meetingInfo',meetingInfo);
      meetingInfo.value = '';
      event.preventDefault();
      return false;
  }
  </script>

</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://127.0.0.1:3000/index.html">Home</a></li>
        <li><a href="http://127.0.0.1:3000/about.html">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="http://127.0.0.1:3000/index.html">Home</a></li>
        <li><a href="http://127.0.0.1:3000/about.html">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Meeting Magic</h1>
      <div class="row center">
        <h5 class="header col s12 light">Time to setup your meeting!</h5>
      </div>
      <div class="row center">
        <form action="">
            Other user: <input id="otherUser" autocomplete="off" /> <br>
            Coordinates: <input id="coords" autocomplete="off"/> <br>
            <button id="download-button" class="btn-large waves-effect waves-light orange" onclick="sendMeetingInfo()">Submit</button>
        </form>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <!-- <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">IBM Watson Integration (coming soon!)</h5>

            <p class="light">Have IBM Watson analyze the character and personality of a restaurant for compability with your own.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Meetings at the click of a button</h5>

            <p class="light">Have you ever agonized over where to go? Have friends with widly different tastes? Worry no more! Meeting Magic finds the best restaurants for everyone's tastes at the click of a button.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Big data on small scales (coming soon!)</h5>

            <p class="light">Harness the power of "big data", from weather to traffic patterns, and let Meeting Magic plan your perfect outing.</p>
          </div>
        </div>
      </div> -->

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the developer</h5>
          <p class="grey-text text-lighten-4">Hello, thank you for taking a look at this product! My name is Noah Wolfe, and you can contact me at 1151754@student.iss.k12.nc.us</p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="footer-copyright">
      <div class="container">
      HTML template by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
